<div class="menu-container" *ngIf="isHandset">
  <div class="bottom-menu">
    <div class="menu-item">
      <mat-icon fontIcon="home"></mat-icon>
      <span routerLink="">Home</span>
    </div>
    <div class="menu-item">
      <mat-icon fontIcon="assignment"></mat-icon>
      <span routerLink="/servicos">Serviços</span>
    </div>
    <div class="menu-item">
      <mat-icon fontIcon="search"></mat-icon>
      <span routerLink="/pesquise">Pesquisa</span>
    </div>
    <div class="menu-item">
      <mat-icon fontIcon="phone"></mat-icon>
      <span routerLink="/contato">Contato</span>
    </div>
  </div>
</div>
