@import "../../../dist/scss/variables.scss";

.footer {
  background-color: $secondary-background-color;
  height: 328px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-footer {
  display: flex;
  flex-direction: row;

  margin-bottom: 40px;
}

.container-footer span {
  margin: 0 64px;
  padding: 0 64px;
}

a,
small {
  color: #afafaf;
}

span {
  font-family: "Poppins", sans-serif;
  color: #afafaf;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .footer {
    display: none;
  }
}
