<mat-toolbar class="footer">
  <div class="container-footer">
    <span
      >Redes Sociais
      <ul>
        <li>
          <a href="https://www.instagram.com/nonno_giuseppe_it/">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/nonnogiuseppeit">Facebook</a>
        </li>
      </ul>
    </span>
    <span
      >Contatos
      <ul>
        <li>Email: contato_nonno@libero.it</li>
        <li>
          WhatsApp:
          <a style="color: #fafafa;"
            href="https://wa.me/393347910455?text=Ol%C3%A1!%0AGostaria%20de%20tratar%20sobre%20uma%20pesquisa."
            >+39 334 791 0455</a
          >
        </li>
      </ul>
    </span>
  </div>
  <div class="row">
    <hr />
    <div class="col direitos">
      <div class="text-center">
        <small>© 2017 - 2023 Nonno Giuseppe - Todos os direitos reservados</small>
        <br>
        <small>Desenvolvido por Kaizen Technology</small>
      </div>
    </div>
  </div>
</mat-toolbar>
