<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>
        nonno <br />
        giuseppe
      </h1>
      <h3 style="font-style: italic">What’s Lorem Ipsum?</h3>
      <p class="text-limit">
        Lorem Ipsum is simply dummy text of the printing and typesetting an
        unknown printer took a galley of type and scrambled it to make a type
        specimen book.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 img-header">
      <img src="../../../assets/imgs/image-header.svg" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col quem-somos">
    <h1>quem somos?</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/imgs/quem-somos.svg" class="img-quem-somos" />
    </div>
  </div>
  <div class="col-6">
    <p class="text-limit--text-right">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of psum.
    </p>
  </div>
</div>
