<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 fxShow class="title">
        nonno <br />
        giuseppe
      </h1>
      <h3>O que fazemos?</h3>
      <p class="text-limit">
        Uma empresa especializada na busca (pesquisa) do local de nascimento e
        casamento do seu antepassado na Itália. <br />
        Precisando de um apoio profissional, entre em contato com nosso time de
        especialistas.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 img-header">
      <img src="../../../assets/imgs/image-header.svg" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col quem-somos">
    <h1>quem somos?</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/imgs/quem-somos.svg" class="img-quem-somos" />
    </div>
  </div>
  <div class="col-6">
    <p class="text-limit--text-right">
      Desde 2017 atuamos no mercado de pesquisas e buscas de documentações
      focados na localização do documento italiano em diversos comuni. <br />
      Nosso principal objetivo é buscar a origem da família de nossos clientes
      e, somos extremamente agradecidos por já ter feito parte da história de
      várias famílias! <br /><br />
      Por sermos uma empresa focada em análise, solicitação e montagem completa
      da pasta documental, nosso time de especialistas, tem toda a expertise
      para te auxiliar sejam em órgãos públicos ou religiosos, tanto no Brasil
      quanto na Itália. <br />
      Trabalhamos com parceria para realização do processo de reconhecimento de
      cidadania administrativa e judicial, consulte-nos.
    </p>
  </div>
</div>
