@import "../../../dist/scss/variables.scss";

@media (max-width: 900px) {
  .header {
    padding: 0;
    margin: 0;
    
    a {
      display: none;
    }

    button {
      margin: 0;
      padding: 0;
    }

    &--logo {
      margin: 0;
      padding: 0;
    }

    &--title {
      margin: 10px;
      font-family: 'poppins', sans-serif;
      font-weight: bold;
      color: $primary-text-color;
    }
  }
}

.header {
  padding: 40px 0;
  background-color: #fafafa;

  a {
    margin-left: 40px;
  }

  button {
    background: #fafafa;
    border: none;
    margin: 40px;
    cursor: pointer;
    width: 30px;
  }

  &--logo {
    width: 60px;
    height: 60px;
    margin-right: 50px;

    border-radius: 50px;
  }
}

.destaque {
  color: $primary-text-color;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-sidenav-content {
  padding: 16px;
}
