@import "../../../dist/scss/variables.scss";

.servicos {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  &--sub-title {
    display: flex;
    justify-content: center;
    margin: 0;

    font-size: 18px;
  }
}

.servicos-row {
  padding: 8px 104px;
}

.card-row {
  display: flex;
  padding-bottom: 72px
}

.card-row-2 {
  display: flex;
}

.card-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 0;

  &--card {
    border-radius: 24px;
    background: #fff;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);

    width: 312px;
    height: 504px;
    padding-bottom: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--card-text-title {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $primary-text-color;
    text-align: center;
  }

  &--card-text {
    font-family: "archivo", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $secondary-text-color;

    text-align: center;
  }

  &--card-img {
    width: 80%;
    height: 50%;
    border-radius: 16px;

    padding: 8px 0;
  }
}

@media (max-width: 900px) {
  .servicos-row {
    padding: 0px 32px;
  }

  .servicos {
    &--sub-title {
      max-width: 100%;
      padding: 0rem;
      margin-bottom: 32px;
      text-align: center;
    }
  }

  .card-row{
    flex-wrap: wrap;
    display: block;
    padding-bottom: 0px
  }

  .card-container {
    padding: 8px 0 56px 0;
  }

  .margin-bottom{
    margin-bottom: 48px;
  }
}
