<div class="row">
  <div class="col">
    <h1>nossos serviços</h1>
  </div>
  <div class="col">
    <p class="servicos--sub-title">
      Pesquisas, Buscas e Apostilamento de Certidão Italiana
    </p>
  </div>
</div>

<div class="row servicos-row" *ngFor="let row of servicosRows">
  <div class="col-4" *ngFor="let item of row">
    <div class="card-container">
      <mat-card class="card-container--card">
        <mat-card-header style="padding-top: 32px;">
          <mat-card-title class="card-container--card-text-title">
            {{ item.titulo }}
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ item.img }}" class="card-container--card-img"/>
        <mat-card-content class="card-container--card-text">
          <p>{{ item.texto }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
