<div class="row">
  <div class="col pesquisa">
    <h1>Procure pelo seu antepassado</h1>
  </div>
  <div class="col">
    <p class="pesquisa--sub-title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text.
    </p>
  </div>
</div>

<div class="pesquisa-container">
  <div class="pesquisa-container--texto">
    <label
      >Insira seu sobrenome e veja se consta em nosso banco de dados:
    </label>
    <input type="text" class="input-sobrenome"/>
    <button class="button-pesquisa">Pesquisar</button>
  </div>
  <div class="pesquisa-container--texto">
    <label>
      Caso não tenha encontrado nenhum resultado pode entrar em contato conosco
      para uma busca avançada <b routerLink="/contato">clicando aqui.</b>
    </label>
  </div>
</div>

<app-tabela-pesquisa></app-tabela-pesquisa>
