<div class="row">
  <div class="col contato">
    <h1>Pedido de Pesquisa / Contato</h1>
  </div>
  <div class="col">
    <p class="contato--sub-title">
      Nós do Nonno Giuseppe, ficaremos felizes em fazer parte do levantamento da
      história de sua família. Nosso time de especialistas aguarda pelas
      informações para iniciar as pesquisas. <br /><br />
      Utilize o quadro “Mensagem” abaixo, para descrever o máximo possível de
      informações que já possua e não esqueça de nos encaminhar (via e-mail ou
      whatsapp) ao menos um documento de seu antenato.
    </p>
  </div>
</div>

<div class="container">
  <form [formGroup]="contatoForm" (ngSubmit)="enviarMensagem()" class="form">
<!-- 
    <div class="row">
      <div class="col">
        <a href="https://wa.me/5511932550701?text=Como%20posso%20ajudar%3F">Teste</a>
      </div>
    </div> -->

    <div class="row">
      <div class="col form--col">
        <p>
          <mat-form-field appearance="fill" class="form--input">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="form--input">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Ex: email@email.com"
            />
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col form--col" style="margin-top: 0;">
        <p>
          <mat-form-field appearance="fill" class="form--input">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder="Ex: (00) 00000-0000" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="form--input">
            <mat-label>Assunto</mat-label>
            <input
              matInput
              formControlName="assunto"
            />
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="display: flex; justify-content: center">
        <mat-form-field class="form--textarea">
          <mat-label>Escreva sua mensagem</mat-label>
          <textarea
            matInput
            formControlName="mensagem"
            style="resize: none"
            rows="4"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col button-enviar--container">
        <button class="button-enviar" [disabled]="contatoForm.invalid">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
