<div class="row">
  <div class="col contato">
    <h1>Pedido de Pesquisa / Contato</h1>
  </div>
  <div class="col">
    <p class="contato--sub-title">
      Nós do Nonno Giuseppe, ficaremos felizes em fazer parte do levantamento da
      história de sua família. Nosso time de especialistas aguarda pelas
      informações para iniciar as pesquisas. <br /><br />
      Utilize o quadro “Mensagem” abaixo, para descrever o máximo possível de
      informações que já possua e não esqueça de nos encaminhar ao menos um
      documento de seu antenato.
    </p>
  </div>
</div>

<div class="container">
  <form
    [formGroup]="contatoForm"
    (ngSubmit)="enviarMensagem()"
    class="form"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col form--col">
        <mat-form-field appearance="fill" class="form--input">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" type="text" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form--input">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Ex: email@email.com"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col form--col" style="margin-top: 0">
        <mat-form-field appearance="fill" class="form--input">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="telefone"
            type="tel"
            placeholder="Ex: (00) 00000-0000"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form--input">
          <mat-label>Assunto</mat-label>
          <input matInput formControlName="assunto" type="text" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col" style="display: flex; justify-content: center">
        <mat-form-field class="form--textarea">
          <mat-label>Escreva sua mensagem</mat-label>
          <textarea
            matInput
            formControlName="mensagem"
            style="resize: none"
            rows="4"
            type="text"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row button-enviar--container">
      <div class="col">
        <div>
          <label>
            Anexar arquivo
            <input
              type="file"
              accept=".pdf, .doc, .docx, .jpg, .jpeg, .png"
              (change)="onFileSelected($event)"
              multiple
              name="anexos"
            />
          </label>
        </div>
        <div *ngIf="arquivosSelecionadosArray.length > 0">
          <h4>Arquivos Selecionados:</h4>
          <ul>
            <li
              *ngFor="let file of arquivosSelecionadosArray; let index = index"
            >
              {{ file.name }}
              <mat-icon
                fontIcon="delete"
                (click)="deleteFile(index)"
              ></mat-icon>
            </li>
          </ul>
        </div>
        <div *ngIf="arquivosSelecionadosArray.length > 0">
          <p>
            Quantidade de arquivos anexados:
            {{ arquivosSelecionadosArray.length }}
          </p>
        </div>
      </div>
      <div class="col" style="display: flex; justify-content: end">
        <button
          class="button-enviar"
          [disabled]="contatoForm.invalid"
          type="submit"
        >
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
