.full-width-table {
  width: 100%;
  padding: 16px;
}

.paginator {
  padding-bottom: 16px;
}

.table {
  margin: 24px 48px 40px 48px;
}

@media (max-width: 900px) {
  .table {
    margin: 24px 0px 72px 0px;
  }

  .paginator {
    padding-bottom: 16px;
  }
}
